{% load article_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="/static/favicon.ico?v=1" />
  <meta name="google-site-verification" content="TvjTAyMrv9_QVjKUJkqFGbWukz3-PhgOjZYvXhGOD0I" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-language" content="en-us">
  <link href="/static/style.css?v=3" rel="stylesheet" type="text/css">

  <link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>

  <link rel="alternate" type="application/rss+xml" title="Latest Blog Articles RSS Feed" href="{% url articles_rss_feed_latest %}" />
  <link rel="alternate" type="application/atom+xml" title="Latest Blog Articles Atom Feed" href="{% url articles_atom_feed_latest %}" />

  <title>Keegan Mann - {% block title %}Welcome{% endblock %}</title>
  {% block extra-head %}{% endblock %}
</head>
<body>

<div class="logo">
  <a href="/"><h1>{{SITE_NAME}}</h1></a>
  <div class=navspacer></div>
  {% for item in NAV_ITEMS %}
    <a class=nav href="{{item.url}}">{{item.display_text|safe}}</a>
  {% endfor %}
  <a class=nav style="float:right;width:40px;opacity:0.5;" href="/blog/feeds/latest">
    <img src="http://i.imgur.com/By3BLKO.png" /></a>
</div>

<div class="picture" style="background-image:url('{{HEADER_IMAGE_URL}}')"></div>

<div class=outer>
<div class=contain>
  <div class=right>
    <div class=right-inner>
      <div class=page-pad>
        {% block sidebar %}
          {% block recent_articles %}
            <h2>Recent Posts</h2>
            {% get_articles 10 as recent %}
            {% for article in recent %}
            {% if forloop.first %}<ul>{% endif %}
              <li><a href="{{ article.get_absolute_url }}" title="Read this article">
                {{ article.title }}
              </a></li>
            {% if forloop.last %}</ul>{% endif %}
            {% endfor %}
          {% endblock %}
          {% block article_tags %}
            <h2>Tag Cloud</h2>
            {% tag_cloud %}
          {% endblock %}
        {% endblock %}
      </div>
    </div>

    {% for item in SIDEBAR_ITEMS %}
    <div class=right-inner>
      <div class=page-pad>
        <h2>{{item.title}}</h2>
        {{item.content|safe}}
      </div>
    </div>
    {% endfor %}

    <div class=right-inner>
      <div class=page-pad>
        <h2>More Links:</h2>
        <ul>
          <li>
            <a href="http://kiigan.wordpress.com/">
              Japanese Wordpress blog
            </a>
            <p style="margin-left:10px;font-size: 12px;margin-top:0px;">
              An effort to retain some Japanese I've learned.
            </p>
          </li>
          <li>
            <a href="http://www.linkedin.com/pub/keegan-mann/39/64a/776">
              LinkedIn Profile
            </a>
            <p style="margin-left:10px;font-size: 12px;margin-top:0px;">
              I don't pay attention to this much, but I thought I might as well 
              put it here.
            </p>
          </li>
        </ul>
      </div>
    </div>
    {% block extra-right %}{% endblock %}
  </div>
  <div class=content>
    {% block content-container %}
    <div class=page>
      <div class=page-inner>
        <div class=page-pad>
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
  <div class=floating-pad></div>
</div>
</div>

<div id="footer">
  {% block footer %}
  <p>
    Copyright &copy; {% now "Y" %} 
    <a href="http://keeganmann.com">keeganmann.com</a>. All rights reserved.<br/>
    <span style="font-size:8px"><a href="http://www.codecogs.com/latex/eqneditor.php">
      Codecogs equation editor</a> used for latex rendering.  </span>
  </p>
  {% endblock %}
</div>

<!--google analytics-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33034289-1']);
  _gaq.push(['_setDomainName', 'keeganmann.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
