{% extends 'articles/base.html' %}
{% load i18n %}

{% block title %}Contact{% endblock %}

{% block articles-content %}

<h2 class="title">Contact</h2>
<p>I'm looking forward to hearing from you.  Your message will be sent directly to my email.</p>

<!-- iframe from foxyform -->
<iframe width="400" height="490" frameborder="0" src="{{FOXYFORM_URL}}"></iframe>

<br/><br/>
<a style="font:10px Arial;color:#5C5C5C;text-align:center; width:100%; display:block;" href="http://www.foxyform.com">foxyform.com</a>

{% endblock %}
