/*** GENERAL ***/

body, div, h1, h2{
	margin: 0px;
	padding: 0px;
}

@font-face {
	font-family: Junction;
	src: url(http://www.ocf.berkeley.edu/~keeganm/Junction-webfont.ttf);
}

@font-face {
	font-family: Raleway;
	src: url(http://www.ocf.berkeley.edu/~keeganm/raleway_thin-webfont.ttf);
}

body{
	background-image: url('http://i.imgur.com/FWgaR.png');
    font: normal 14px Helvetica, arial, sans-serif;
}

a{
	text-decoration: none;
	color: #00b;
}
a:hover{
	color: #f00;
}

div.entry, div.page-inner, div.right-inner{
    box-shadow: 2px 2px 3px #aaa;
    -moz-box-shadow: 2px 2px 3px #aaa;
    -webkit-box-shadow: 2px 2px 3px #aaa;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/*** NAVBAR ***/
div.logo{
	background-image: url('http://i.imgur.com/iiiYh.png');/*denim*/
	text-align: center;
	height: 45px;
	color: #bbbfa5;
}
a.nav, div.navspacer, div.logo h1{
	color: #bbbfa5;
	font-size: 14px;
	height: 30px;
	width: 100px;
	float: left;
	padding-top: 15px;
	z-index: 1;
}
div.logo a:hover{
	color:#fff;
	background: #222;
}
div.navspacer{
	width:50px;
}
div.logo h1{
	font-size: 20px;
	padding: 10px 40px;
    text-shadow: 0px 0px 20px #000;
    -moz-text-shadow: 0px 0px 20px #000;
    -webkit-text-shadow: 0px 0px 20px #000;
}

/*** MAIN PICTURE ***/
div.picture{
	background: url('http://i.imgur.com/l5joE.jpg') center center repeat-x;
	background-size: cover;
	height: 150px;
	border-top: 10px solid #222222;
	border-bottom: 10px solid #445588;
	position:relative;
	z-index: -1;
}

/*** CONTENT AREA ***/
div.outer{
    /*background: #0f0;/**/
	width: auto;
	padding: 20px;
}
div.contain{
    /*background: #f00;/**/
	width: 100%;
	margin: 0px auto;
	min-width:600px;
}
div.content{
	/*background: #f8f;/**/
	width: 70%;
	float:right;
	padding:0px;
	margin:0px;
}
div.right{
	/*background:#fff;/**/
	color:#444;
	width:30%;
	float:right;
	margin-top:0px;
}
div.right-inner{
	background:#fff;
	float:left;
	margin-bottom: 20px;
	width: 100%;
}
div.right ul{
	list-style-type: none;
	padding: 0px;
	margin: 5px 0px;
	margin-bottom: 20px;
}
div.right li{
	padding: 2px 5px;
	padding-left:10px;
}
div.right li:hover{
	background: #eee;
	border-left: 3px solid #445588;
	padding-left:7px;
}
div.right li a{
	color: #777;
}
div.right li a:hover{
	color: #000;
}
div.right h2{
	font-weight: normal;
	font-size: 24px;
	padding-top:0px;
	margin-top:-10px;
	color: #333;
}
hr{
	border: none;
	border-top:1px solid #ccc;
}
div.page-container{
	/*background: #888;/**/
	width:100%;
}
div.page{
	/*background: #fff;/**/
	width: auto;
	float: none;
	padding-right:20px;
}
div.page-inner{
	background: #fff;/**/
	float: none;
}
div.page-pad{
	padding:30px;
}

div.floating-pad{
	float:right;
	height:40px;
	width: 100%;
}

/*** FOOTER ***/

#footer{
	padding: 5px 0px;
	width: 100%;
	float: left;
	height: auto;
	text-align: center;
	border-top: 0px solid #888;
}
#footer p{
	color: #777;
	font-size: 10px;
	line-height: 13px;
}
#footer a{
	color: #66f;
}
#footer a:hover{
	color: #f66;
}

/*** BLOG ***/
div.clear{
	/*background:#f00;/**/
	height: 0px;
	width: 100%;
	/*border-top: 1px solid #ccc;*/
	margin-top: 0px;
	clear: both;
}
p.small-subtext, p.small-subtext-bottom, div.quiet{
	margin: 3px 0px 30px 0px;
	padding: 0px;
	font-size: 12px;
	color: #888;
}
p.small-subtext-bottom{
	margin: 30px 0px 30px 0px;
}
p.small-subtext a, p.small-subtext-bottom a, div.quiet a{
	color:#aaa;
	text-decoration: underline;
}
p.small-subtext a:hover, p.small-subtext-bottom a:hover{
	color:#aaa;
	text-decoration: none;
}
div.page h2.title, div.page h2.title a{
	margin:0;padding:0;
	font-size: 20px;
	color: #000;
}
div.page h2.title a:hover{
	color: #f00;
}
ul.pagination-pages{
	margin:0;
	padding:0;
	width:100%;
	height:30px;
}
ul.pagination-pages li{
	padding: 0px; margin: 0px;
	display:block;
	float:left;
}
ul.pagination-pages li a{
	float:left;
	display:block;
	margin: 0px;
	padding: 8px 10px;
	margin-top: -10px;
	color: #89a;
	font-size: 14px;
}
ul.pagination-pages li a:hover{
	background:#569;
	color:#def;
}
a.current-page{
	font-weight: bold;
	color:#000;
}
a.read-more{
	text-weight:bold;
	padding: 3px 10px;
}

/*** ARTICLE BODY ***/
div.article h1{
	font-size: 26px;
	margin-top:26px;
	margin-bottom:10px;
	color: #555;
}
div.article h2{
	font-size: 20px;
	margin-top:20px;
	margin-bottom:10px;
	color: #555;
}
div.article p{
	clear: none;
	line-height: 130%;
}
img.alignright{
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}
table{
}
td{
	padding: 10px;
}
table.rows{
	border-collapse: collapse;
	border: 1px solid #bbb;
	border-bottom: none;
}
table.rows td{
	padding: 7px 14px;
	padding-right: 24px;
	margin:0px;
	border-bottom: 1px solid #bbb;
}

div.img-container,
div.img-container-float-right,
div.img-container-center{
	background: #eee;
	padding:10px;
}
div.img-container-float-right{
	float:right;
	width:auto;
	margin-left:20px;
	margin-bottom:20px;
	right:0px;
	clear:both;
}
div.img-container p,
div.img-container-float-right p,
div.img-container-center p{
	text-align: center;
	font-size: 12px;
	color: #888;
	padding:0;margin:0;
	margin-top:5px;
}
div.img-container{
	width:auto;
}
div.img-container-center{
	margin:20px auto;
}
blockquote{
	font-style: italic;
}

h2.pingback{
	font-size: 16px;
	color:#444;
	border-top: 2px solid #eee;
	padding-top:2px;
}
div.pingback{
	font-size: 12px;
	padding: 10px;
	margin: 10px;
	background: #f4f4f4;
}
div.pingback p{
	margin:0;padding:0;
}
div.pingback p.pingback{
	color:#444;
}
div.pingback p.pingback-text{
	color:#676767;
	margin-top:10px;
	margin-left:10px;
}
/*** read more button ***/
.read-more {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dedede), color-stop(1, #bdbdbd) );
	background:-moz-linear-gradient( center top, #dedede 5%, #bdbdbd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#bdbdbd');
	background-color:#dedede;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #bfbfbf;
	display:inline-block;
	color:#545361;
	font-size:14px;
	font-weight:normal;
	padding:5px 11px;
	text-decoration:none;
	text-shadow:1px 1px 0px #e6e6e6;
}.read-more:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bdbdbd), color-stop(1, #dedede) );
	background:-moz-linear-gradient( center top, #bdbdbd 5%, #dedede 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdbdbd', endColorstr='#dedede');
	background-color:#bdbdbd;
}.read-more:active {
	position:relative;
	top:1px;
}.read-more{
	float:right;
}

/*** tag cloud ***/
.tag-cloud-0{ font-size: 10px; }
.tag-cloud-1{ font-size: 10px; }
.tag-cloud-2{ font-size: 12px; }
.tag-cloud-3{ font-size: 14px; }
.tag-cloud-4{ font-size: 16px; }
.tag-cloud-5{ font-size: 18px; }
.tag-cloud-6{ font-size: 20px; }
.tag-cloud-7{ font-size: 22px; }
.tag-cloud-0,
.tag-cloud-1,
.tag-cloud-2,
.tag-cloud-3,
.tag-cloud-4,
.tag-cloud-5,
.tag-cloud-6,
.tag-cloud-7{ color:#888; }

#articles-tag-cloud{
	padding-top: 7px;
}

/*** ONLY ON HOME PAGE ***/

div.padder{
	float:left;
	background:#f00;
}

div.entry{
	width: 100%;
	margin-bottom: 20px;
	margin-right: 0px;
	padding: 0px 0px;
    background: #ffffff;
    height: 200px;
    position: relative;
    float: right;
	background-size: cover;
}
div.entry p{
	padding-top: 0px;
	color: #ddb;
}
div.entry:hover .subtext{
	opacity:0.9;
	filter:alpha(opacity=90);
}
div.entry ul{
	margin-top: 0px;
}
div.entry li{
	margin-top: 3px;
}
div.entry li p{
	margin: 3px 5px;
	margin-bottom: 5px;
	padding: 0px;
	line-height:100%;
}
div.entry a{
	color: #ff8;
}
div.entry a:hover{
	color: #fff;
}
div.entry h1 a{
	color: #fff;
}
div.entry h1 a:hover{
	color: #ff8;
}
div.subtext{
	position: absolute;
	bottom: 0px;
	height:100%;
	width: 30%;
	min-width:180px;
	background-image: url('http://i.imgur.com/iiiYh.png');/*denim*/
	color: #bbbfa5;
	opacity:0.8;
	filter:alpha(opacity=80);
}
div.subtext p{
	padding: 10px 30px;
	margin: 0px;
	font-size: 12px;
	line-height: 20px;
}
div.subtext h1{
	padding: 0px 30px;
	margin-top: 10px;
	font-size: 15px;
	line-height: 24px;
	color: #ffffff;
}
#blog   {
	background-image: url('http://keeganmann.files.wordpress.com/2011/01/encoderout.png?w=600');
}
.fader{
	background: #ffe;
	opacity: 0.3;
	position: absolute;
	left:0;right:0;bottom:0;top:0;
}
#github {
	/*background-image: url('http://i.imgur.com/DkILN.png');*/
	background-image: url('http://dotfiles.github.com/images/forktocat.jpg');
	background-size: contain; 
	background-repeat: 
	no-repeat; 
	background-position: right center;
}
#mahar  { background-image: url('http://imgur.com/oiidbX6.png'); }/*'http://i.imgur.com/v597x.jpg'*/
#resume { background-image: url('http://i.imgur.com/nWdW7.png'); }
