{% load i18n %}
{% load i18n humanize %}
<div id="article-content" class="article">
    <h2 class="title"><a href="{{ article.get_absolute_url }}" title="{% trans 'Read this article' %}">{% trans article.title %}</a></h2>
    <p class=small-subtext>{% trans 'Posted' %} {{ article.publish_date|naturalday }}</p>

    {{ article.teaser|safe }}

    <div class=clear></div>
    <p>
    <a href="{{ article.get_absolute_url }}" title="{% trans 'Read this article' %}" class=read-more>read more &raquo;</a>
    </p>

    <p class=small-subtext-bottom style="margin-bottom:0px">
    	By <a href="{% url articles_by_author article.author.username %}" title="{% trans 'Read other articles by this author' %}">{{ article.author.get_name }}</a>. 
    	Posted {% if article.tags.count %}in {% for tag in article.tags.all %}<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a> {% endfor %}{% else %}with no tags{% endif %}.
    </p>
</div>

{% for att in article.attachments.all %}
{% if forloop.first %}<div id="article-attachments">
    <h3>Attachments</h3>
    <ul>{% endif %}
        <li id="attachment-{{ forloop.counter }}" class="attachment ct_{{ att.content_type_class }}">
            <a href="{{ att.attachment.url }}" class="attachment-link">{{ att.filename }}</a>
            <span class="attachment-size">Size: {{ att.attachment.size|filesizeformat }}</span>
        </li>
    {% if forloop.last %}</ul>
</div>{% endif %}
{% endfor %}

