{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Articles' %}{% endblock %}

{% block content-container %}

<!--<div class=page style="margin-bottom:20px">
  <div class=page-inner style="border-radius: 10px;">
    <div class=page-pad style="padding:10px 30px;">
      <h2 class="title">{% trans 'Articles' %}{% ifnotequal paginator.num_pages 1 %}, {% trans 'page' %} {{ page_obj.number }}{% endifnotequal %}</h2>
    </div>
  </div>
</div>-->

<div class=page style="margin-top:-20px;margin-bottom:20px;height: 30px">
  <div style="padding:0px 20px; margin:0px; margin-right:20px;border-top-left-radius:0px;border-top-right-radius:0px;background:#445588; width:auto; border: none; border-bottom-left-radius:15px;border-bottom-right-radius:15px;border-top:none;float:left; height: 22px;">
    {% include 'articles/_paginator.html' %}
  </div>
</div>

{% for article in page_obj.object_list %}
{% include 'articles/_articles_summary.html' %}
{% endfor %}

<div class=page style="margin-top:-20px;margin-bottom:20px;margin-left: 20px; height: 30px;">
  <div style="padding:0px 20px; margin:0px; margin-right:20px;border-top-left-radius:0px;border-top-right-radius:0px;background:#445588; width:auto; border: none; border-bottom-left-radius:15px;border-bottom-right-radius:15px;border-top:none;float:left; height: 22px;padding-top:10px">
    {% include 'articles/_paginator.html' %}
  </div>
</div>

{% endblock %}
