{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Articles' %}{% endblock %}

{% block content-container %}

{% ifnotequal paginator.page_range|length 1 %}
<div class=page style="margin-top:-20px;margin-bottom:20px;height: 30px">
  <div style="padding:0px 20px; margin:0px; margin-right:20px;border-top-left-radius:0px;border-top-right-radius:0px;background:#445588; width:auto; border: none; border-bottom-left-radius:15px;border-bottom-right-radius:15px;border-top:none;float:left; height: 22px;">
    {% include 'articles/_paginator.html' %}
  </div>
</div>
{% endifnotequal %}

{% for article in page_obj.object_list %}
{% include 'articles/_articles_summary.html' %}
{% endfor %}

{% ifnotequal paginator.page_range|length 1 %}
<div class=page style="margin-top:-20px;margin-bottom:20px;margin-left: 20px; height: 30px;">
  <div style="padding:0px 20px; margin:0px; margin-right:20px;border-top-left-radius:0px;border-top-right-radius:0px;background:#445588; width:auto; border: none; border-bottom-left-radius:15px;border-bottom-right-radius:15px;border-top:none;float:left; height: 22px;padding-top:10px">
    {% include 'articles/_paginator.html' %}
  </div>
</div>
{% endifnotequal %}

{% endblock %}
