{% load article_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="/static/favicon.ico?v=1" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-language" content="en-us">
  <link href="/static/style.css?v=3" rel="stylesheet" type="text/css">
  <title>Keegan Mann - {% block title %}Welcome{% endblock %}</title>
  {% block extra-head %}{% endblock %}
</head>
<body>

<div class="logo">
  <a href="/"><h1>keeganmann.com</h1></a>
  <div class=navspacer></div>
  <a class=nav href="/blog/2009/aboutpage/">ABOUT</a>
  <a class=nav href="/blog/articles">BLOG</a>
  <a class=nav href="https://github.com/keeganmann">GITHUB</a>
  <a class=nav href="http://hkn.eecs.berkeley.edu/~keegan/Keegan-Mann-2-16-13.pdf">RESUME</a>
  <a class=nav href="/blog/contact/">CONTACT</a>
</div>
<div class="picture">
  <!--<div class="subtext" id="subtitle" style="text-align:center;">
    <p>
      I’m currently a student at UC Berkeley, and I love learning about Electronics, Physics, and Computers.  
      Click the links below for more.
    </p>
  </div>-->
</div>

<div class=outer>
<div class=contain>
  <div class=right>
    <div class=right-inner>
      <div class=page-pad>
        {% block sidebar %}
          {% block recent_articles %}
            <h2>Recent Articles</h2>
            {% get_articles 10 as recent %}
            {% for article in recent %}
            {% if forloop.first %}<ul>{% endif %}
              <li><a href="{{ article.get_absolute_url }}" title="Read this article">{{ article.title }}</a></li>
            {% if forloop.last %}</ul>{% endif %}
            {% endfor %}
          {% endblock %}

          {% block article_tags %}
            <h2>Tag Cloud</h2>
            {% tag_cloud %}
          {% endblock %}
        {% endblock %}
      </div>
    </div>

    <div class=right-inner>
      <div class=page-pad>
        <p><em>
          Hi There!<br/>
          My name is Keegan Mann, and I love working with and learning about 
          Electronics, Physics, and Computers.  I’m currently a second year 
          EECS(Electrical Engineering and Computer Science) major at 
          UC Berkeley.  I post on my blog about various projects and 
          activities I’ve been involved in, but lately I haven’t had much 
          time.<br/>
        </em></p>
      </div>
    </div>
    <div class=right-inner>
      <div class=page-pad>
        <h2>More Links:</h2>
        <ul>
          <li>
            <a href="http://kiigan.wordpress.com/">
              Japanese Wordpress blog
            </a>
            <p style="margin-left:10px;font-size: 12px;margin-top:0px;">
              An effort to retain some Japanese I've learned.
            </p>
          </li>
          <li>
            <a href="http://www.linkedin.com/pub/keegan-mann/39/64a/776">
              LinkedIn Profile
            </a>
            <p style="margin-left:10px;font-size: 12px;margin-top:0px;">
              I don't pay attention to this much, but I thought I might as well put it here.
            </p>
          </li>
        </ul>
      </div>
    </div>
    {% block extra-right %}{% endblock %}
  </div>
  <div class=content>
    {% block content-container %}
    <div class=page>
      <div class=page-inner>
        <div class=page-pad>
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
  <div class=floating-pad></div>
</div>
</div>

<div id="footer">
  {% block footer %}
  <p>
    Copyright &copy; {% now "Y" %} 
    <a href="http://keeganmann.com">keeganmann.com</a>. All rights reserved.<br/>
    <span style="font-size:8px"><a href="http://www.codecogs.com/latex/eqneditor.php">Codecogs equation editor</a> used for latex rendering.  </span>
  </p>
  {% endblock %}
</div>

<!--google analytics-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33034289-1']);
  _gaq.push(['_setDomainName', 'keeganmann.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
