body, div, h1{
	margin: 0px;
	padding: 0px;
}

body{
	background-image: url('http://i.imgur.com/FWgaR.png');
    font: normal 15px Helvetica, arial, sans-serif;
}

a{
	text-decoration: none;
	color: #0000ff;
}
a:hover{
	color: #ff0000;
}

/*** NAVBAR ***/
div.logo{
	background-image: url('http://i.imgur.com/iiiYh.png');/*denim*/
	text-align: center;
	height: 45px;
	color: #bbbfa5;
}
a.nav, div.navspacer, div.logo h1{
	color: #bbbfa5;
	font-size: 14px;
	/*border-right:1px solid #888;*/
	height: 30px;
	width: 100px;
	float: left;
	padding-top: 15px;
	z-index: 1;
}
div.logo a:hover{
	color:#fff;
	background: #222;
}
div.navspacer{
	width:50px;
}
div.logo h1{
	font-size: 20px;
	padding: 10px 40px;
    text-shadow: 0px 0px 20px #000;
    -moz-text-shadow: 0px 0px 20px #000;
    -webkit-text-shadow: 0px 0px 20px #000;
}

/*** MAIN PICTURE ***/
div.picture{
	background: url('http://i.imgur.com/l5joE.jpg') center center repeat-x;
	background-size: cover;
	height: 150px;
	border-top: 10px solid #222222;
	border-bottom: 10px solid #445588;
	position:relative;
	z-index: -1;
}
div.subtext{
	position: absolute;
	bottom: 0px;
	height: auto;
	width: 100%;
	background: #444444;
	color: #bbbfa5;
	opacity:0.7;
	filter:alpha(opacity=70);
	background-image: url('http://i.imgur.com/iiiYh.png');/*denim*/
}
div.subtext p{
	padding: 10px 30px;
	margin: 0px;
	font-size: 12px;
	line-height: 20px;
}
div.subtext h1{
	padding: 0px 30px;
	margin-top: 10px;
	font-size: 15px;
	line-height: 24px;
	color: #ffffff;
}

/*** CONTENT AREA ***/
div.outer{
    /*background: #0f0;/**/
	width: auto;
	padding: 40px;
}
div.contain{
    /*background: #f00;/**/
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
	min-width:600px;
}
div.content{
	/*background: #f8f;/**/
	width: 70%;
	float:right;
	padding:0px;
	margin:0px;
}
div.right{
	/*background:#fff;/**/
	color:#444;
	width:30%;
	float:right;
}
div.right-inner{
	background:#fff;
	float:left;
	margin-bottom: 20px;
	width: 100%;
}

h2{
	margin-top:0px;
	font-size: 20px;
}
div.right ul{
	list-style-type: none;
	padding-left: 20px;
}
div.page-container{
	/*background: #888;/**/
	width:100%;
}
div.page{
	/*background: #fff;/**/
	width: auto;
	float: none;
	padding-right:20px;
}
div.page-inner{
	background: #fff;/**/
	float: none;
	min-height: 500px;
}
div.page-pad{
	padding:30px;
}

div.floating-pad{
	float:right;
	height:40px;
	width: 100%;
}

/*** FOOTER ***/

#footer{
	padding: 5px 0px;
	width: 100%;
	float: left;
	height: auto;
	text-align: center;
	border-top: 0px solid #888;
}
#footer p{
	color: #777;
	font-size: 10px;
	line-height: 13px;
}
#footer a{
	color: #66f;
}
#footer a:hover{
	color: #f66;
}

/*** ONLY ON HOME PAGE ***/

div.padder{
	float:left;
	background:#f00;
}

div.entry, div.page-inner, div.right-inner{
    box-shadow: 2px 2px 3px #aaa;
    -moz-box-shadow: 2px 2px 3px #aaa;
    -webkit-box-shadow: 2px 2px 3px #aaa;
    border: 1px solid #ccc;
}
div.entrycontainer{
	width: 50%;
	margin: 0px 0px;
	padding: 0px 0px;
}
div.entry{
	width: 100%;
	margin-bottom: 20px;
	margin-right: 20px;
	padding: 0px 0px;
    background: #ffffff;
    height: 200px;
    position: relative;
    float: right;
}
div.entry .subtext{
	opacity:0.8;
	filter:alpha(opacity=80);
	height:100%;
	width: 30%;
}
div.entry h1{
	
}
div.entry p{
	padding-top: 0px;
	color: #ddb;
}
div.entry:hover .subtext{
	opacity:0.9;
	filter:alpha(opacity=90);
}

#blog{
	background-image: url('http://i.imgur.com/cko5L.jpg');
	background-size: cover;
}
#github{
	background-image: url('http://i.imgur.com/DkILN.png');
	background-size: cover;
}
#mahar{
	background-image: url('http://i.imgur.com/v597x.jpg');
	background-size: cover;
}
#resume{
	background-image: url('http://i.imgur.com/nWdW7.png');
	background-size: cover;
}
#links{
	background-image: url('http://i.imgur.com/iiiYh.png');/*denim*/
	height: auto;
	/*padding: 20px 0px;
	margin: 10px 0px;*/
	width: 500px;
	float: none;
}
#links h1{
	padding-left: 20px;
	color: #bca;
	font-size: 25px;
    text-shadow: 0px 0px 6px #000;
    -moz-text-shadow: 0px 0px 6px #000;
    -webkit-text-shadow: 0px 0px 6px #000;
}
#links ul{
	padding-left: 40px;
	color: #bca;
	font-size: 15px;
	list-style-type: none;
	line-height: 20px;
}
#links a{
	font-weight: bold;
	color: #8af;
}
#links a:hover{
	color: #fa8;
}
#links p{
	color: #bbb;
	margin: 0px;
	padding-top: 0px;
	padding-left: 40px;
	padding-bottom: 10px;
	padding-right: 20px;
}

#adds{
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
